
$c1: #0B2027;
$c2: #F8333C;
$c3: #FCAB10;
$c4: #2B9EB3;
$c5: #FFFCF7;

$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$font-base-size: 20px;
$def-font-family: cursive;

$border-radius:10px;
